header {
  width: 100%;
  background-color: midnightblue;
  height: 70px;
}

h1 {
  height: 45px;
  width: 200px;
  background-color: rgb(102, 205, 196);
  color: midnightblue;
  padding: 5px 5px 5px 40px;
  font-family: "Prompt", sans-serif;
  display: flex;
  margin-top: 2px;
}

ul li {
  border-bottom: 3px solid rgb(102, 205, 196);
  list-style: none;
  width: 80px;
  display: flex;
  padding: 5px;
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  float: right;
}

ul li:hover {
  background-color: rgb(102, 205, 196);
  color: midnightblue;
}

@media screen and (max-width: 992px) {
}
